<!DOCTYPE html>

<html>
  <head>
    <title>envision</title>

    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css"/>

  </head>

  <body>
    <header>
      <div id="head">COVID TRACKER</div>
      <a href="#heremap" class="menu">Maps</a>
      <a href="#headline" class="menu">Graphs</a>
      <a href="#data" class="menu">Table</a>
      <a href="#about" class="menu">About Us</a>
    </header>

    <div class="somedata">
      <div class="first">
        <h1 class="main1">Details of project</h1>
        <h2>hello there things have been good</h2>
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </h2>
      </div>

      <div class="first">
        <img src="../static/images/cov2.webp" alt="" />
      </div>
    </div>

    <div class="maps">
      <div id="heremap">
        Map goes here
        <img class="map" src="../static/images/map.png" alt="" />
      </div>
    </div>

    <div class="mainbox">
      <div id="headline"><h1>DATA</h1></div>
      <div class="graphs">
        <div class="G">graphs</div>
        <div class="G">graph1</div>
        <div class="G">graph2</div>
        <div class="G">graph3</div>
      </div>
    </div>

    <div class="data">
      <div id="data">
        <table>
          <tr>
            <th>States</th>
            <th>Total cases</th>
            <th>Active cases</th>
            <th>Recovered cases</th>
            <th>Deaths</th>
          </tr>
          <tr>
            <td>Andaman and Nicobar Island</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Andhra Pradesh</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Arunachal Pradesh</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Assam</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Bihar</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Chandigarh</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Chhatisgarh</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Dadra&Nagar Haveli</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Daman & Diu</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Delhi</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Goa</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Gujarat</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Haryana</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Himachal Pradesh</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Jammu & Kashmir</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Jharkhand</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Karnataka</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Kerala</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Ladakh</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Lakshadweep</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Madhya Pradesh</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Maharashtra</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Manipur</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Meghalaya</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Mizoram</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Nagaland</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Orrisa</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Puducherry</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Punjab</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Rajasthan</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Sikkim</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tamil Nadu</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Telengana</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tripura</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Uttar Pradesh</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Uttarakhand</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>West Bengal</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

    <div id="about" class="about">
      <h1>About Us</h1>

      <img
        id="guy1"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.35.42 PM.jpeg"
        alt=""
      />
      <img
        id="guy2"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.36.08 PM.jpeg"
        alt=""
      />
      <img
        id="guy3"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.36.46 PM.jpeg"
        alt=""
      />

      <div class="more"></div>
    </div>
  </body>
</html>
