<!DOCTYPE html>

<html>
  <head>
    <title>envision</title>

    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <header>
      <div style="color: #5cdb95; margin-top: 10px" id="head">
        COVID TRACKER
      </div>
      <a
        href="#heremap"
        class="menu"
        style="text-decoration: none; color: aliceblue"
        >Maps</a
      >
      <a
        href="#headline"
        class="menu"
        style="text-decoration: none; color: aliceblue"
        >Graphs</a
      >
      <a
        href="#data"
        class="menu"
        style="text-decoration: none; color: aliceblue"
        >Table</a
      >
      <a
        href="#about"
        class="menu"
        style="text-decoration: none; color: aliceblue; font-size: 25px"
        >About Us</a
      >
    </header>

    <div class="somedata">
      <div class="first">
        <h1 class="main1">Details of project</h1>
        <h2>hello there things have been good</h2>
        <h2>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </h2>
      </div>

      <div class="first">
        <img src="../static/images/cov2.webp" alt="" />
      </div>
    </div>

    <div class="maps">
      <div id="heremap">
        Map goes here
        <img class="map" src="../static/images/map.png" alt="" />
      </div>
    </div>

    <div class="mainbox">
      <div id="headline"><h1>DATA</h1></div>
      <div class="graphs" style="height: 700px">
        <div
          class="G"
          style="width: 20%; padding: 20px; height: 50%; margin-top: 100px"
        >
          graphs
        </div>
        <div
          class="G"
          style="width: 20%; padding: 20px; height: 50%; margin-top: 100px"
        >
          graph1
        </div>
        <div
          class="G"
          style="width: 20%; padding: 20px; height: 50%; margin-top: 100px"
        >
          graph2
        </div>
        <div
          class="G"
          style="width: 20%; padding: 20px; height: 50%; margin-top: 100px"
        >
          graph3
        </div>
      </div>
    </div>

    <div class="data">
      <div id="title_fortable"></div>
      <div id="data">
        <table>
          <tr>
            <th>States</th>
            <th>Total cases</th>
            <th>Active cases</th>
            <th>Recovered cases</th>
            <th>Deaths</th>
          </tr>

          {% for dict in data %}

          <tr>
            <td>{{dict.state_name}}</td>
            <td>{{dict.new_positive}}</td>
            <td>{{dict.new_active}}</td>
            <td>{{dict.new_cured}}</td>
            <td>{{dict.new_death}}</td>
          </tr>

          {% endfor %}
        </table>
      </div>
    </div>

    <div id="about" class="about">
      <h1>About Us</h1>

      <img
        id="guy1"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.35.42 PM.jpeg"
        alt=""
        style="
          box-shadow: 2px 2px 100px 2px #888888;
          margin: 50px;
          height: 300px;
          width: 300px;
        "
      />
      <img
        id="guy2"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.36.08 PM.jpeg"
        alt=""
        style="
          box-shadow: 2px 2px 100px 2px #888888;
          margin: 50px;
          height: 300px;
          width: 300px;
        "
      />
      <img
        id="guy3"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.36.46 PM.jpeg"
        alt=""
        style="
          box-shadow: 2px 2px 100px 2px #888888;
          margin: 50px;
          height: 300px;
          width: 300px;
        "
      />

      <img
        id="guy3"
        src="../static/images/IMG_20160803_210643732.jpg"
        alt=""
        style="
          box-shadow: 2px 2px 100px 2px #888888;
          margin: 50px;
          height: 300px;
          width: 300px;
        "
      />

      <img
        id="guy3"
        src="../static/images/samyak.jpeg"
        alt=""
        style="
          box-shadow: 2px 2px 100px 2px #888888;
          margin: 50px;
          height: 300px;
          width: 300px;
        "
      />

      <div class="more"></div>
    </div>
  </body>
</html>
