<!DOCTYPE html>

<html>
  <head>
    <title>envision</title>

    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <header>
      <div style="color: #5cdb95; margin-top: 10px" id="head">
        COVID TRACKER
      </div>
      <a
        href="#heremap"
        class="menu"
        style="text-decoration: none; color: aliceblue"
        >Maps</a
      >
      <a
        href="#headline"
        class="menu"
        style="text-decoration: none; color: aliceblue"
        >Graphs</a
      >
      <a
        href="#data"
        class="menu"
        style="text-decoration: none; color: aliceblue"
        >Table</a
      >
      <a
        href="#about"
        class="menu"
        style="text-decoration: none; color: aliceblue; font-size: 25px"
        >About Us</a
      >
    </header>

    <div class="somedata">
      <div class="first">
        <h1 class="main1">Details of project</h1>
        <h2>This is a project on Covid Tracker</h2>
        <h2>
          This is a website which displays plots and analytics by scraping relevant data from government data portals, to give an insight into the current state-wise pandemic situation and recovery status in India.
        </h2>
      </div>

      <div class="first">
        <img src="../static/images/cov2.webp" alt="" />
      </div>
    </div>

    <div class="maps">
      <div id="heremap">
        COVID MAP
        <embed
          type="text/html"
          src="../static/data/map.html"
          height="1000px"
          width="100%"
        />
      </div>
    </div>

    <div class="mainbox">
      <div id="headline"><h1>DATA</h1></div>
      <div class="graphs" style="height: 700px">
        <div
          class="G"
          style="width: 20%; padding: 20px; height: 50%; margin-top: 100px"
        >
          <object
            type="image/svg+xml"
            data="../static/data/active.svg"
            width="100%"
            height="90%"
            ;
          ></object>
          <a
            href="{{ url_for('graph') }}"
            style="
              color: black;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;

              margin-left: 40px;
              text-decoration: none;
              font-size: 20px;
            "
          >
            CLICK TO GO TO GRAPH
          </a>
        </div>

        <div
          class="G"
          style="width: 20%; padding: 20px; height: 50%; margin-top: 100px"
        >
          <object
            type="image/svg+xml"
            data="../static/data/positive.svg"
            width="100%"
            height="90%"
            ;
          ></object>
          <a
            href="{{ url_for('newpositive') }}"
            style="
              color: black;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;

              margin-left: 40px;
              text-decoration: none;
              font-size: 20px;
            "
          >
            CLICK TO GO TO GRAPH
          </a>
        </div>

        <div
          class="G"
          style="width: 20%; padding: 20px; height: 50%; margin-top: 100px"
        >
          <object
            type="image/svg+xml"
            data="../static/data/active_cured.svg"
            width="100%"
            height="90%"
            ;
          ></object>
          <a
            href="{{ url_for('cured') }}"
            style="
              color: black;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;

              margin-left: 40px;
              text-decoration: none;
              font-size: 20px;
            "
          >
            CLICK TO GO TO GRAPH
          </a>
        </div>

        <div
          class="G"
          style="width: 20%; padding: 20px; height: 50%; margin-top: 100px"
        >
          <object
            type="image/svg+xml"
            data="../static/data/active_ded.svg"
            width="100%"
            height="90%"
            ;
          ></object>
          <a
            href="{{ url_for('dead_graph') }}"
            style="
              color: black;
              font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;

              margin-left: 40px;
              text-decoration: none;
              font-size: 20px;
            "
          >
            CLICK TO GO TO GRAPH
          </a>
        </div>
      </div>
    </div>

    <div class="data">
      <div id="title_fortable"></div>
      <div id="data">
        <table>
          <tr>
            <th>States</th>
            <th>Total cases</th>
            <th>Active cases</th>
            <th>Recovered cases</th>
            <th>Deaths</th>
          </tr>

          {% for dict in data %}

          <tr>
            <td>{{dict.state_name}}</td>
            <td>{{dict.new_positive}}</td>
            <td>{{dict.new_active}}</td>
            <td>{{dict.new_cured}}</td>
            <td>{{dict.new_death}}</td>
          </tr>

          {% endfor %}
        </table>
      </div>
    </div>

    <div id="about" class="about">
      <h1>About Us</h1>

      <img
        class="guy"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.35.42 PM.jpeg"
      />
      <img
        class="guy"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.36.08 PM.jpeg"
      />
      <img
        class="guy"
        src="../static/images/WhatsApp Image 2021-03-14 at 5.36.46 PM.jpeg"
      />

      <img
        class="guy"
        src="../static/images/IMG_20160803_210643732.jpg"
      />

      <img
        class="guy"
        src="../static/images/samyak.jpeg"
      />

      <div class="more"></div>
    </div>
  </body>
</html>
